<a href="https://colab.research.google.com/github/mietekdom/Data_Science-Material_Science_Engineering_Projects/blob/main/TGA_visualisation/TGA_01ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import seaborn as sns
sns.set()


print(f'Pandas: {pd.__version__}')
print(f'Numpy: {np.__version__}')
print(f'Ploty: {np.__version__}')
print(f'Seaborn: {np.__version__}')

Pandas: 1.1.2
Numpy: 1.18.5
Ploty: 1.18.5
Seaborn: 1.18.5

In [11]:
df = pd.read_csv('./NZP_10_APP2_3282019_838 PM_to_DS.csv')
df.head(10)

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0    0.000000       29.19        9.03       100.0    -1.10698
1    0.001667       29.19        9.03       100.0    -1.10710
2    0.003333       29.19        9.03       100.0    -1.10530
3    0.005000       29.19        9.03       100.0    -1.10214
4    0.006667       29.19        9.03       100.0    -1.09933
5    0.008333       29.19        9.03       100.0    -1.09841
6    0.010000       29.19        9.03       100.0    -1.09893
7    0.011667       29.19        9.03       100.0    -1.10012
8    0.013333       29.19        9.03       100.0    -1.09977
9    0.015000       29.19        9.03       100.0    -1.09734

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58544 entries, 0 to 58543
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  58544 non-null  float64
 1   Unnamed: 1  58544 non-null  float64
 2   Unnamed: 2  58544 non-null  float64
 3   Unnamed: 3  58544 non-null  float64
 4   Unnamed: 4  58517 non-null  float64
dtypes: float64(5)
memory usage: 2.2 MB

In [14]:
df.columns = ['Time [min]', 'Temperature [°C]', 'Weight [mg]', 'Weight [%/°C]', 'Deriv. Weight']
df.head()

   Time [min]  Temperature [°C]  Weight [mg]  Weight [%/°C]  Deriv. Weight
0    0.000000             29.19         9.03          100.0       -1.10698
1    0.001667             29.19         9.03          100.0       -1.10710
2    0.003333             29.19         9.03          100.0       -1.10530
3    0.005000             29.19         9.03          100.0       -1.10214
4    0.006667             29.19         9.03          100.0       -1.09933