<a href="https://colab.research.google.com/github/mietekdom/Data_Science-Material_Science_Engineering_Projects/blob/main/Stress_Strain_Analyses/Wytrzyma%C5%82o%C5%9Bc_materia%C5%82u_NBR1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
print(f'Pandas: {pd.__version__}')
print(f'Numpy: {np.__version__}')

Pandas: 1.1.2
Numpy: 1.18.5

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400035 entries, 1 to 400035
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   C_0_Seconds[]   400035 non-null  float64
 1   C_1_Cycle[]     400035 non-null  int64
 2   C_1_Load[kN]    400035 non-null  float64
 3   C_1_Stroke[mm]  400035 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 15.3 MB

In [17]:
df = pd.read_csv('./NBR1.csv', index_col=0)
df.head()

      C_0_Seconds[]  C_1_Cycle[]  C_1_Load[kN]  C_1_Stroke[mm]
S/No
1          0.032938            0      0.020225          -0.002
2          0.033061            0      0.019436          -0.001
3          0.033185            0      0.019567          -0.001
4          0.033308            0      0.018994          -0.002
5          0.033431            0      0.019273          -0.002